---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
---


<BaseLayout pageTitle={pageTitle}> 
    <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
  
    <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

		<p>Here are some facts about me</p>

		<ul>
			<li>
				I'm from {identity.country}
			</li>
			<li>
				My name is {identity.firstName}
			</li>
			<li>
				I'm a {identity.occupation}
			</li>
			<li>
				My hobbies are {identity.hobbies.map(e=>e+', ')}
			</li>
		</ul>

		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		{happy && <p>Learning Astro yayh!</p>}
		{finished && <p>finished with this tutorial</p>}
		{goal > 4 ? <p>I have more than 3 goals</p> : <p>i have less than 3 goals</p>}
		<script>
    import "../scripts/menu.js";
		</script>
	</BaseLayout>
